@tailwind base;
@tailwind components;
@tailwind utilities;

.background-image {
    background-image: url("/public/images/bg-bp-baru.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
}


#nama-container.show {
    display: block;
}

#nama-container li:hover {
    background-color: #edf2f7;
    cursor: pointer;
}

/* Sidebar styling */
.sidebar {
    position: fixed;
    top: 0;
    left: -250px; /* Tersembunyi di awal */
    width: 250px;
    height: 100%;
    background-color: #2d3748;
    transition: left 0.3s ease-in-out;
    z-index: 999;
}

/* Animasi untuk slide-in dan slide-out */
.sidebar.show {
    left: 0; /* Muncul ke kanan */
}
